.container-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 0 20px;
}
.single-column {
  display: grid;
  grid-template-columns: 1fr;
}

.section-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin: 20px 0;
  color: #9ba3b2;
}
.section-counter {
  display: inline-block;
  background: #f7f7f9;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  text-align: center;
  margin-left: 5px;
}
