.container-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 0 20px;
}
.single-column {
  display: grid;
}
.section-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin: 20px 0;
}
.section-title-white {
  color: #eef0f3;
}
.section-title-greyish {
  color: #9ba3b2;
}
.section-counter {
  display: inline-block;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  text-align: center;
  margin-left: 5px;
}
.section-counter-white {
  background: #f7f7f9;
}
.section-counter-dark {
  background: #30333a;
}
@media only screen and (max-width: 425px) {
  .single-column {
    min-height: 140px;
  }
  .section-title {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 11px;
    max-height: 20px;
  }
  .container-main {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 16px;
  }
}
