.popup {
  position: fixed;
  top: 50%;
  width: 510px;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.title {
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  margin: 0;
  padding: 15px 25px;
  line-height: 28px;
}
.title-dark-theme {
  color: #ffffff;
  border: 1px solid #30333a;
}
.title-white-theme {
  color: #15161a;
  border-bottom: 1px solid #e2e6ed;
}

.container-popup {
  padding: 20px 25px;
}
label {
  margin: 0;
  line-height: 28px;
}
.title-label {
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 5px;
  width: 100%;
  display: block;
}
.title-label-white-theme {
  color: #15161a;
}
.title-label-dark-theme {
  color: #ffffff;
}

.title-input {
  display: block;
  height: 25px;
  width: 100%;
  max-width: 430px;
  border-radius: 5px;
  font-weight: 400;
  padding: 15px;
  font-size: 14px;
  margin: auto;
  margin-bottom: 15px;
}
.title-input-white-theme {
  color: #15161a;
  border: 1px solid #eef0f3;
}
.title-input-white-theme:focus {
  outline: 1px solid #15161a;
}

.title-input-dark-theme {
  background: #15161a;
  border: 1px solid #30333a;
  color: #ffffff;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  border-radius: 0px 0px 10px 10px;
  max-width: 480px;
}
.form-actions-white-theme {
  background: #fafafa;
  border: 1px solid #e2e6ed;
}
.form-actions-dark-theme {
  background-color: #15161a;
  border: 1px solid #30333a;
}

.btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  border-radius: 5px;
  width: 80px;
  padding: 9px 17px;
}

.cancel-btn-dark-theme {
  border: 1px solid #30333a;
  background-color: #1f2126;
  color: white;
}
.cancel-btn-dark-theme:hover {
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #eef0f3;
  color: #15161a;
}
.cancel-btn-white-theme {
  background-color: #ffffff;
  color: #15161a;
  border: 1px solid #eef0e3;
}
.cancel-btn-white-theme:hover {
  cursor: pointer;
  background-color: #fafafa;
}

.add-btn-white-theme {
  border: 1px solid #15161a;
  color: white;
  background-color: #15161a;
}
.add-btn-white-theme:hover {
  color: #000;
  cursor: pointer;
  background-color: white;
}
.add-btn-dark-theme {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: #000000;
}
.add-btn-dark-theme:hover {
  border: 1px solid #0057ff;
  cursor: pointer;
  background-color: #0057ff;
  color: white;
}
@media only screen and (max-width: 1023px) {
}
@media only screen and (max-width: 480px) {
  .popup {
    left: 50%;
    top: 75%;
    width: 100%;
  }
  .title-label {
    text-align: center;
  }
  .title-input {
    width: 90%;
    max-width: none;
  }
  .form-actions {
    max-width: none;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .popup {
    left: 50%;
    top: 80%;
    width: 100%;
  }
  .title-label {
    text-align: center;
  }
  .title-input {
    width: 90%;
    max-width: none;
  }
  .form-actions {
    max-width: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .popup {
    left: 50%;
    top: 80%;
    width: 100%;
  }
  .title-label {
    text-align: center;
  }
  .title-input {
    width: 90%;
    max-width: none;
  }
  .form-actions {
    max-width: none;
  }
}
