.radio-category {
  display: none;
}
.label-categories {
  display: flex;
  width: 100%;
  justify-content: space-between;
  width: 462px;
}
.label-category {
  padding: 9px 16px;
  border: 1px solid #eef0f3;
  border-radius: 5px;
}
.label-category:hover {
  cursor: pointer;
  background: #fafafa;
}
.label-active {
  border: 1px solid #15161a;
}
