.switcher-container {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 425px) {
  .switcher-container {
    display: flex;
    align-items: center;
  }
  .icons-handler {
    display: none;
  }
}
