.card-droppable {
  display: grid;
  align-content: start;
  height: 95%;
  border-radius: 12px;
  max-width: 400px;
  width: 100%;
  min-height: 734px;
  border: 1px solid #e2e6ed;
  margin: auto;
  margin-bottom: 20px;
}
.card-droppable-unactive {
  background-color: #f9fafb;
}
.card-droppable-dragged {
  background-color: #f0f0f9;
}
